In [3]:
import numpy as np
import pandas as pd

In [213]:
movies = pd.read_csv('machine learning projects/movie_recommender_system/MOVIES.csv')
movies.head()

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
0,0,tt15354916,Jawan,2023,"Action, Thriller",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."
1,1,tt15748830,Jaane Jaan,2023,"Crime, Drama, Mystery",A single mother and her daughter who commit a ...,Sujoy Ghosh,"Kareena Kapoor, Jaideep Ahlawat, Vijay Varma, ..."
2,2,tt11663228,Jailer,2023,"Action, Comedy, Crime",A retired jailer goes on a manhunt to find his...,Nelson Dilipkumar,"Rajinikanth, Mohanlal, Shivarajkumar, Jackie S..."
3,3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"Comedy, Drama, Family",Flamboyant Punjabi Rocky and intellectual Beng...,Karan Johar,"Ranveer Singh, Alia Bhatt, Dharmendra, Shabana..."
4,4,tt15732324,OMG 2,2023,"Comedy, Drama",An unhappy civilian asks the court to mandate ...,Amit Rai,"Pankaj Tripathi, Akshay Kumar, Yami Gautam, Pa..."

In [215]:
movies = movies[['movie_id','movie_name','genre','overview','director','cast']]

In [221]:
# As one movie has multiple genre and which is in string format so we need to convert it as list
movies['genre'] = movies['genre'].apply(lambda x:x.split(','))

# As one movie has multiple cast and which is in string format so we need to convert it as list
movies['cast'] = movies['cast'].apply(lambda x:x.split(','))

# Director name is in string we need to change it in list
movies['director'] = movies['director'].apply(lambda x:x.split(','))

# overview needs to be converted into tags, so need to separate
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [223]:
movies.head()

,movie_id,movie_name,genre,overview,director,cast
0,tt15354916,Jawan,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[Shah Rukh Khan, Nayanthara, Vijay Sethupath..."
1,tt15748830,Jaane Jaan,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[Sujoy Ghosh],"[Kareena Kapoor, Jaideep Ahlawat, Vijay Varm..."
2,tt11663228,Jailer,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[Nelson Dilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, Jack..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[Karan Johar],"[Ranveer Singh, Alia Bhatt, Dharmendra, Sha..."
4,tt15732324,OMG 2,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[Amit Rai],"[Pankaj Tripathi, Akshay Kumar, Yami Gautam,..."

In [225]:
movies['genre'] = movies['genre'].apply(lambda x:[i.replace(' ','') for i in x])

In [227]:
movies['overview'] = movies['overview'].apply(lambda x:[i.replace(' ','') for i in x])
movies['director'] = movies['director'].apply(lambda x:[i.replace(' ','') for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(' ','') for i in x])

In [229]:
movies.head()

,movie_id,movie_name,genre,overview,director,cast
0,tt15354916,Jawan,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan, Nayanthara, VijaySethupathi, De..."
1,tt15748830,Jaane Jaan,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[SujoyGhosh],"[KareenaKapoor, JaideepAhlawat, VijayVarma, Sa..."
2,tt11663228,Jailer,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[NelsonDilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, JackieS..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[KaranJohar],"[RanveerSingh, AliaBhatt, Dharmendra, ShabanaA..."
4,tt15732324,OMG 2,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[AmitRai],"[PankajTripathi, AkshayKumar, YamiGautam, Pawa..."

In [231]:
movies['tags'] = movies['genre'] + movies['cast'] + movies['director'] + movies['overview']

In [233]:
movies.head()

,movie_id,movie_name,genre,overview,director,cast,tags
0,tt15354916,Jawan,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan, Nayanthara, VijaySethupathi, De...","[Action, Thriller, ShahRukhKhan, Nayanthara, V..."
1,tt15748830,Jaane Jaan,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...",[SujoyGhosh],"[KareenaKapoor, JaideepAhlawat, VijayVarma, Sa...","[Crime, Drama, Mystery, KareenaKapoor, Jaideep..."
2,tt11663228,Jailer,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...",[NelsonDilipkumar],"[Rajinikanth, Mohanlal, Shivarajkumar, JackieS...","[Action, Comedy, Crime, Rajinikanth, Mohanlal,..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...",[KaranJohar],"[RanveerSingh, AliaBhatt, Dharmendra, ShabanaA...","[Comedy, Drama, Family, RanveerSingh, AliaBhat..."
4,tt15732324,OMG 2,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...",[AmitRai],"[PankajTripathi, AkshayKumar, YamiGautam, Pawa...","[Comedy, Drama, PankajTripathi, AkshayKumar, Y..."

In [263]:
new_df = movies[['movie_id','movie_name','tags']]

In [265]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,"[Action, Thriller, ShahRukhKhan, Nayanthara, V..."
1,tt15748830,Jaane Jaan,"[Crime, Drama, Mystery, KareenaKapoor, Jaideep..."
2,tt11663228,Jailer,"[Action, Comedy, Crime, Rajinikanth, Mohanlal,..."
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,"[Comedy, Drama, Family, RanveerSingh, AliaBhat..."
4,tt15732324,OMG 2,"[Comedy, Drama, PankajTripathi, AkshayKumar, Y..."

In [267]:
new_df['tags'] = new_df['tags'].apply(lambda x:' '.join(x))

C:\Users\Prashant Joshi\AppData\Local\Temp\ipykernel_6948\2266712157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:' '.join(x))

In [269]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,Action Thriller ShahRukhKhan Nayanthara VijayS...
1,tt15748830,Jaane Jaan,Crime Drama Mystery KareenaKapoor JaideepAhlaw...
2,tt11663228,Jailer,Action Comedy Crime Rajinikanth Mohanlal Shiva...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,Comedy Drama Family RanveerSingh AliaBhatt Dha...
4,tt15732324,OMG 2,Comedy Drama PankajTripathi AkshayKumar YamiGa...

In [243]:
new_df['tags'][0]

'Action Thriller ShahRukhKhan Nayanthara VijaySethupathi DeepikaPadukone Atlee A high-octane action thriller which outlines the emotional journey of a man who is set to rectify the wrongs in the society.'

In [271]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\Prashant Joshi\AppData\Local\Temp\ipykernel_6948\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [273]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,action thriller shahrukhkhan nayanthara vijays...
1,tt15748830,Jaane Jaan,crime drama mystery kareenakapoor jaideepahlaw...
2,tt11663228,Jailer,action comedy crime rajinikanth mohanlal shiva...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,comedy drama family ranveersingh aliabhatt dha...
4,tt15732324,OMG 2,comedy drama pankajtripathi akshaykumar yamiga...

In [275]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=9999 , stop_words='english')

In [277]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,action thriller shahrukhkhan nayanthara vijays...
1,tt15748830,Jaane Jaan,crime drama mystery kareenakapoor jaideepahlaw...
2,tt11663228,Jailer,action comedy crime rajinikanth mohanlal shiva...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,comedy drama family ranveersingh aliabhatt dha...
4,tt15732324,OMG 2,comedy drama pankajtripathi akshaykumar yamiga...

In [279]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [281]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,action thriller shahrukhkhan nayanthara vijays...
1,tt15748830,Jaane Jaan,crime drama mystery kareenakapoor jaideepahlaw...
2,tt11663228,Jailer,action comedy crime rajinikanth mohanlal shiva...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,comedy drama family ranveersingh aliabhatt dha...
4,tt15732324,OMG 2,comedy drama pankajtripathi akshaykumar yamiga...

In [297]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return ' '.join(y)

In [299]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,action thriller shahrukhkhan nayanthara vijays...
1,tt15748830,Jaane Jaan,crime drama mystery kareenakapoor jaideepahlaw...
2,tt11663228,Jailer,action comedy crime rajinikanth mohanlal shiva...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,comedy drama family ranveersingh aliabhatt dha...
4,tt15732324,OMG 2,comedy drama pankajtripathi akshaykumar yamiga...

In [301]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [305]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [307]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'zubairkhan', 'zubeidaa', 'zuhu'],
      dtype=object)

In [309]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,action thriller shahrukhkhan nayanthara vijays...
1,tt15748830,Jaane Jaan,crime drama mystery kareenakapoor jaideepahlaw...
2,tt11663228,Jailer,action comedy crime rajinikanth mohanlal shiva...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,comedy drama family ranveersingh aliabhatt dha...
4,tt15732324,OMG 2,comedy drama pankajtripathi akshaykumar yamiga...

In [313]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\Prashant Joshi\AppData\Local\Temp\ipykernel_6948\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [315]:
new_df.head()

,movie_id,movie_name,tags
0,tt15354916,Jawan,action thriller shahrukhkhan nayanthara vijays...
1,tt15748830,Jaane Jaan,crime drama mysteri kareenakapoor jaideepahlaw...
2,tt11663228,Jailer,action comedi crime rajinikanth mohanl shivara...
3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,comedi drama famili ranveersingh aliabhatt dha...
4,tt15732324,OMG 2,comedi drama pankajtripathi akshaykumar yamiga...

In [317]:
from sklearn.metrics.pairwise import cosine_similarity

In [323]:
similarity = cosine_similarity(vectors)

In [325]:
similarity[0]

array([1.        , 0.        , 0.09100315, ..., 0.        , 0.        ,
       0.07968191])

In [327]:
def recommend(movie):
    movie_index = new_df[new_df['movie_name'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse= True, key = lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].movie_name)

In [379]:
recommend('3 Idiots')

Chhichhore
Dil Chahta Hai
Ta Ra Rum Pum
Mere Baap Pehle Aap
Rang De Basanti